---
sudo: false
before_install:
  - export HARNESS_OPTIONS=j10:c HARNESS_TIMER=1
  - git config --global user.name "Dist Zilla Plugin TravisCI"
  - git config --global user.email $HOSTNAME":not-for-mail@travis-ci.org"
install:
  - cpanm  --quiet  --notest --skip-installed Dist::Zilla
  - dzil authordeps | grep -ve '^\W' | xargs -n 5 -P 10 cpanm --notest --quiet --mirror http://www.cpan.org/ --mirror http://duckpan.org
  - dzil listdeps | grep -ve '^\W' | cpanm --notest --quiet --mirror http://www.cpan.org/ --mirror http://duckpan.org
  - cpanm --quiet --notest --mirror --mirror http://duckpan.org App::DuckPAN
  - duckpan DDG
  - duckpan DDGC::Locale::DuckduckgoDuckduckgo
  - duckpan DDGC::Locale::DuckduckgoDontbubbleus
  - duckpan DDGC::Locale::DuckduckgoDonttrackus
language: perl
perl:
  - '5.16'
script:
  - dzil smoke --release --author
